.middle__carts {
    background-color: white;
    /* height: auto; */
}

.middle__carts_main {
    /* margin: 30px 100px; */
    min-height: 800px;
    /* margin-bottopx; */
    padding-bottom: 50px;
}

.content_order .remove-item-cart {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #f70000;
    border: 2px solid #f70000;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    background-color: white;
}

.input_quantity_cart {
    display: flex;
    justify-content: left;
}

.btn-quantity_cart {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.btn-quantity_cart .btn-quantity_cart-reduce {

}

.quantity_cart {
    width: 29px;
    height: 24px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: center;
    outline: none;
}

.btn-quantity_cart .btn-quantity_cart-increase {

}




.order_summary .totals {
    width: 36%;


}

.order_summary .inner {

}

.order_summary .inner table {
    box-shadow: none !important;
}

.order_summary .inner tr {
    line-height: 18px;
}

.order_summary .inner tr td {
    border: none;
    line-height: 10px;
    padding: 15px;
}



.order_summary .checkout {
    list-style: none;
    margin-top: 20px;
}

.order_summary .btn-checkout {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: rgb(55, 130, 23);
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid rgb(55, 130, 23);
}

.order_summary .btn-checkout-continue {
    background-color: white;
    color: rgb(55, 130, 23);
}

.order_summary .btn-checkout-continue:hover {
    background-color: #555;
    color: white;
}

.order_summary .btn-checkout-order:hover {
    background-color: #555;
}